<%# <ul> %>
  <%# <% @upcoming_events.each do |event| %> %>
   <%# <%=event.description%> %>
   <%# <br> %>
    <%# <%= event.date %>  %>
        <%# <td><%= link_to 'Show', event %></td> %>
    <%# <br> %>
  <%# <% end %> %>
<%# </ul> %>

