<p>
  <% if current_user %>
    <strong>All Events Created:</strong>
    <br>
    <% @events.each do |event| %>
      <%= event.description %>
     <td><%= link_to 'Show', event %></td>
        
      <br>
    <%end%> 
    <% else %>
      <h3>Please Login or SignUp</h3>
  <%end%>

</p>
