<div>
    Do you wanna attend?
    <%= radio_button_tag(:present, "true") %>
    <%= label_tag(:present, "Yes") %>
    <%= radio_button_tag(:present, "false") %>
    <%= label_tag(:present, "No") %>
</div>

